/* banner.css */
/*  background-image: url('/public/assets/dist/img/fibras.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Imagen de fondo + overlay */

.banner {
    background-image: url('/public/assets/dist/img/fibras.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
  }
  

 