.react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .react-calendar__tile {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  .react-calendar__tile--active {
    background-color: #007bff;
    color: white;
  }
  